## Deliverable 2. Create a Customer Travel Destinations Map.

In [73]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [74]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Jibuti,11.5000,42.5000,67.42,56,5,6.62,DJ,clear sky
1,1,Iqaluit,63.7506,-68.5145,-16.87,52,75,4.61,CA,broken clouds
2,2,Cayenne,4.9333,-52.3333,79.09,88,0,1.99,GF,clear sky
3,3,Severo-Kurilsk,50.6789,156.1250,29.75,92,100,6.64,RU,light snow
4,4,Uvarovka,55.5278,35.6061,14.63,98,100,1.25,RU,overcast clouds

In [75]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [76]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_hotel_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_hotel_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Cayenne,4.9333,-52.3333,79.09,88,0,1.99,GF,clear sky
9,9,Butaritari,3.0707,172.7902,82.65,75,17,18.28,KI,few clouds
11,11,Saint-Philippe,-21.3585,55.7679,80.15,87,100,25.03,RE,light rain
14,14,Porto Novo,6.4965,2.6036,82.22,82,2,5.75,BJ,clear sky
15,15,Rikitea,-23.1203,-134.9692,78.55,71,10,7.87,PF,light rain
16,16,Hilo,19.7297,-155.0900,80.62,76,100,5.75,US,overcast clouds
18,18,Kahului,20.8947,-156.4700,85.26,66,20,11.50,US,few clouds
25,25,Saint-Georges,12.0564,-61.7485,80.28,74,20,11.50,GD,few clouds
27,27,Avarua,-21.2078,-159.7750,82.45,78,40,17.27,CK,scattered clouds
32,32,Cairns,-16.9167,145.7667,80.55,89,75,5.75,AU,broken clouds

In [77]:
# 4a. Determine if there are any empty rows.
clean_hotel_df.count()

City_ID                197
City                   197
Lat                    197
Lng                    197
Max Temp               197
Humidity               197
Cloudiness             197
Wind Speed             197
Country                196
Current Description    197
dtype: int64

In [78]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_hotel_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Cayenne,4.9333,-52.3333,79.09,88,0,1.99,GF,clear sky
9,9,Butaritari,3.0707,172.7902,82.65,75,17,18.28,KI,few clouds
11,11,Saint-Philippe,-21.3585,55.7679,80.15,87,100,25.03,RE,light rain
14,14,Porto Novo,6.4965,2.6036,82.22,82,2,5.75,BJ,clear sky
15,15,Rikitea,-23.1203,-134.9692,78.55,71,10,7.87,PF,light rain
...,...,...,...,...,...,...,...,...,...,...
719,719,Mozarlandia,-14.7447,-50.5706,78.64,75,58,2.53,BR,broken clouds
730,730,Porto Velho,-8.7619,-63.9039,77.05,94,75,2.30,BR,light rain
731,731,La Flecha,15.2833,-88.4833,85.64,73,72,3.27,HN,broken clouds
732,732,Sola,-13.8833,167.5500,81.70,78,100,24.49,VU,light rain
735,735,Maningrida,-12.0667,134.2667,79.14,82,97,7.52,AU,overcast clouds

In [79]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cayenne,GF,79.09,clear sky,4.9333,-52.3333,
9,Butaritari,KI,82.65,few clouds,3.0707,172.7902,
11,Saint-Philippe,RE,80.15,light rain,-21.3585,55.7679,
14,Porto Novo,BJ,82.22,clear sky,6.4965,2.6036,
15,Rikitea,PF,78.55,light rain,-23.1203,-134.9692,
16,Hilo,US,80.62,overcast clouds,19.7297,-155.0900,
18,Kahului,US,85.26,few clouds,20.8947,-156.4700,
25,Saint-Georges,GD,80.28,few clouds,12.0564,-61.7485,
27,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
32,Cairns,AU,80.55,broken clouds,-16.9167,145.7667,

In [80]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]



    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [86]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

In [87]:
clean_hotel_df.count()

City                   186
Country                186
Max Temp               186
Current Description    186
Lat                    186
Lng                    186
Hotel Name             186
dtype: int64

In [88]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [89]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [94]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))